/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
