/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/bootstrap/dist/css/bootstrap.css";
 
.example-spacer {
    flex: 1 1 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
